@import "~bootstrap/scss/bootstrap";

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }
  
  // Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }
  
  // Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }
  
  // Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }

// Fonts

@font-face {
  font-family: 'inter';
  src: url('./fonts/static/Inter-Black.ttf');
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: 'inter';
  src: url('./fonts/static/Inter-Light.ttf');
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'inter';
  src: url('./fonts/static/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal
}
  

//   Colors
$white: #fff;
$black: #000;
$very-dark-blue: #0B1C2C;
$very-light-green: #00FF4E5D;
$light-purple: #2700FF6A;
$sky-blue: #76FFF415;
$medium-blue: #1B3E60;
$forest-green: #076F38;
$dark-blue: #112F4D;
$gray: #00000029;
$off-white: #FFFFFF19;
$grid-lines: #76FFF408;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h1, h2, h3, h4, p {
  color: $white;
  font-family: "inter", sans-serif;
  text-transform: none;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

body {
    height: 100%;
    font-family: "Helvetica", sans-serif;
    background: $very-dark-blue;
    overflow-x: hidden;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

// Mobile Nav

.mobile-title-right {
  cursor: pointer;
}

.mobile-nav-container {
  position:absolute;
  background-color: $dark-blue;
  
  top: 0;
  bottom: 0;
  left: 0;
  // width: 90%;
  z-index: 999;

  @include md {
    bottom: -5%;
    width: 95%;
  }

  .nav-content-wrapper {
    margin-top: 2rem;
    // padding: 1rem;
    height: 95%;

    // Mobile Nav Header
    .header-nav-overlay {

      .mobile-close-container {
        width: 30%;

        
      }

      .mobile-nav-title-container {
        padding: 0;
        width: 70%;
        // display: none;

        .mobile-nav-title {
          font-size: .85rem;
          font-weight: 700;
          cursor: pointer;

          @include md {
            text-align: right;
            font-size: 1.5rem;
          }
        }
    
      }

    }

    // Mobile Nav Links

    .mobile-nav-link-container {

      // @include md {
      //   margin-top: auto;
      // }
      .mobile-nav-link-wrapper {

        margin-top: 4rem;

        @include md {
          justify-content: space-between;
          
        }

      

        .projects-expanded-container {

          opacity: 1;

          .projects-nav-link {
            padding: 0;
            padding-left: .5rem;
            margin: 1rem 0;
            font-family: 'inter', "Helvetica", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            color: $white;
            text-decoration: none;
           
          }

        }

        .mobile-nav-link {
          padding: 0;
          margin: 1rem 0;
          font-family: 'inter', "Helvetica", sans-serif;
          font-weight: 700;
          font-size: 1.8rem;
          color: $white;
          text-decoration: none;

          @include md {
            margin: 2rem 0;
          }
        }
      }
    }

    .mobile-nav-footer {
      margin-top: auto;
      padding: 0;
     

      .mobile-footer-container {

        width: 80%;
        margin-left: 0;
        margin-bottom: 2rem;
        .copyright-container-mobile {
          font-size: .6rem;
          padding-top: 1rem;

          @include md {
            padding-top: 2rem;
          }
         
        }
      }
    }



   
  }


  

 
}


// Main Body Container

.main-body-container {
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  position: relative;
}

.grid-container {
  position: absolute;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99;

  .row {
    height: 100%;
    .col {
      height: 100%;
      // border: 1px solid $gray;
    }
  }
}

 .col::after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $grid-lines;

  @include lg {
    width: 3px;
  }
}

.col:last-of-type::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: $grid-lines;

  @include lg {
    width: 3px;
  }
}

.grid-container::after {
  content: '';
  position: absolute;
  top: 0;
  right:7px;
  width: 3px;
  height: 100%;
  background-color: $grid-lines;

  @include lg {
    width: 3px;
  }

}

.grid-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 3px;
  height: 100%;
  background-color: $grid-lines;

  @include lg {
    width: 3px;
  }

}







// .project-arrow {
//   cursor: pointer;
//   padding-left: 2rem;
// }

.view-project {
  font-family: pt-mono,monospace;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
  position: relative;
  cursor: pointer;

  @include lg {
    letter-spacing: .3rem;
  }
  
  
  .line-through-work, .view-all-line, .projects-line {
    height: 8px;
    // width: 80%;
    left: 0;
    right: 0;
    background-color: rgba(7,111,56, 0.8);
    position: absolute;
    bottom: 25%;
    z-index: -999;
  }
  
}

hr {
  border-top: 2px solid $white;
}

// Navbar

.navbar-main-mobile {

  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: between;

 
  

  .navbar-left {
    width: 30%;

    .menu-icons {
       @include lg {
         display: none;
       }
    }

    .desktop-title-left {
      display: none;

      @include lg {
        display: block;
        cursor: pointer;
        font-weight: bold;
      }
    }

  }
  
  .navbar-right {
    width: 70%;
    justify-content: center;

    @include md {
      justify-content: flex-end;
    }

    @include lg {
      justify-content: flex-end;
    }

    .desktop-nav-wrapper {
      width: 60%;

      display: none;

      @include lg {
        display: flex;
      }

      .desktop-nav-link {
        color: $white;
        text-decoration: none;
        font-family: 'inter', sans-serif;
        font-weight: bold;
      }

      .desktop-nav-button {
        button {
          @include lg {
            border: none;
            background-color: transparent;
            text-transform: none;
            border: none;
            outline: none !important;
            font-family: 'inter', sans-serif;
            font-weight: bold;
          }
        }

        .dropdown-menu {
          @include lg {
            width: 30rem;
            height: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;
          }

          .dropdown-item {
            @include lg {
              height: 100%;
              // background-color: $dark-blue;
              font-family: pt-mono, monospace;
              color: $white;
              text-transform: uppercase;
              font-weight: 700;
              transition: all .2s ease-in-out;
              padding-left: 1rem;
            }
          }

          .dropdown-item:hover {
            @include lg {
              padding-left: 2rem;
            }
          }

          .dropdown-item:first-of-type {
            background-color: #161084
          }

          .dropdown-item:nth-of-type(2) {
            background-color: #231C9F
          }

          .dropdown-item:nth-of-type(3) {
            background-color: #3129B7
          }

          .dropdown-item:nth-of-type(4) {
            background-color: #433BC4
          }
        }
        
      };


    }

    p {
      font-weight: bold;

      @include lg {
        display: none;
      }
    }


  }
  
}

// Main Page

.main-title-container {

  // Title Text

  @include lg {
    margin-top: 4rem;
  }

  .main-title{
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 150%;
    text-align: center;

    @include lg {
      font-size: 5rem;
      text-align: left;
    }

    .text-line-conductor, .text-line-streamer {
      display: inline-block;
      position: relative;
    }
  }

}

.line-through-conductor {
  height: 5px;
  // width: 80%;
  background-color: #00FF4E5C;
  position: absolute;
  bottom: 20%;
  left: 1%;
  right: 8%;

  @include lg {
    height: 15px;
  }
}

.line-through-streamer {
  height: 5px;
  // width: 80%;
  left: 1%;
  right: 9%;
  background-color: #2700FF6B;
  position: absolute;
  bottom: 20%;

  @include lg {
    height: 15px;
  }
}

// Desktop Headphones and About Me
.desktop-about-me-headphones-container {
  display: none;

  
  @include lg{
    display: flex;
    align-items: center;
    justify-content: between;
    margin: 4rem auto;
    height: 36rem;
    // position: relative;
  }

  .desktop-images-container {
    @include lg {
      position: relative;
    }

    // .desktop-headphones-container {

    //   @include lg {
    //     position: absolute;
    //     top: 0;
    //     left: -800px;
    //     bottom: 1000px
    //   }

      .desktop-headphones-image {
        @include lg {
          position: absolute;
          top: -275px;
          right: 25%;
        }
      }

      .desktop-papers-image {
        @include lg {
          position: absolute;
          top: -220px;
          left: -17%;
          z-index: -999;
        }
      }

      .on-off-button {
        @include lg {
          height: 70px;
          width: 15px;
          position: absolute;
          left: 3.5%;
          border-radius: 25px;
          background-color: $white;
          transform: rotate(14deg)
        }

        .toggler-off {
          @include lg {
            position: absolute;
            left: 1.4%;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            padding: 7px;
            background: green;
          }
        }

        .toggler-on {
          @include lg {
            position: absolute;
            left: 1.4%;
            bottom: 0;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            padding: 7px;
            background: green;

          }
        }
      }
      
    }


    
    
  }

// Desktop About Me
.desktop-about-me-container {
display: none;

@include lg {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start
}

.desktop-view-work-container {

  @include lg {
    margin-top: 2rem;
    padding-left: 0;
  }
  .view-work-button {
    @include lg {

      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 1.4rem;
      letter-spacing: .3rem;
      position: relative;
    }

    .line-through-work {
      height: 8px;
      // width: 80%;
      left: 0;
      right: 5%;
      background-color: rgba(7,111,56, 0.8);
      position: absolute;
      bottom: 10%;
    }

    }
  }
}


// Headphones

.headphone-spacer {
  height: 425px;

  @include lg{
    display: none;
  }
  
}

.headphones-container {

  position: relative;
  width: 100%;
  height: auto;

  @include lg {
    display: none;
  }

  .headphones-image {
    position: absolute;
    left: 0;
    transform: translateX(-60%);
    height: 600px;
  }
}

.papers-container {

  position: relative;
  width: 100%;

  @include lg {
    display: none;
  }

  .papers-image {
    position: absolute;
    left: 60%;
    top: 50px;
    transform: translateX(-63%);
    height: 350px;
    z-index: -999;
  }
}

// About me

.about-me-container {


  @include lg {
    display: none;
  }
  .about-me-text {
    line-height: 200%;
    
    @include lg {
      width: 70%;
      font-weight: 400;
      // font-size: 1.75rem;
    }
  }
}

.desktop-about-me-container {
  .about-me-text {
    @include lg {
      font-size: 1.75rem;
      line-height: 2.75rem;
      font-weight: 200;

    }
  }
}


// View Work

.view-work-container {

  margin-top: 1.5rem;

  margin-bottom: 4rem;

  @include lg {
    display: none;
  }

  .view-work-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: .3rem;
    position: relative;

    .line-through-work {
      height: 8px;
      // width: 80%;
      left: 0;
      right: 5%;
      background-color: rgba(7,111,56, 0.8);
      position: absolute;
      bottom: 10%;
    }
  }


}

.featured-projects-container {
  margin-top: 6rem;

  @include lg {
    display: none
  }
}

.desktop-featured-projects-container {
  display: none;
  @include lg {
    display: block;
    margin-top: 10rem;
  }
}

.featured-projects-text {
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;


  @include lg {
    font-size: 4rem;
    font-weight: bolder;
  }
    .underline-full-width {

      height: 1px;
      background-color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20%;

      @include lg {
        left: -40%;
        right: -40%;
      }
    }
}



.concert-builder-container, .orchesnation-container, .mars-rover-container {

  @include lg {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  h4 {
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  p {

    
    font-size: 1.5rem;
    line-height: 2.75rem;
    margin-bottom: 2rem;
    font-weight: 200;
    // width: 80%;

    @include lg {
      
      font-size: 1.75rem;
    }
  }

}

.desktop-project-divider {
  margin-left: -500px;
  margin-right: -500px;
}

.mobile-project-divider {
  margin-left: -40px;
  margin-right: -40px;
}

.view-projects-selector {
  margin-bottom: 4rem;
  height: 4rem;
  
  .view-project {
    font-size: 1.4rem;
    width: 50%;
  }
}

.view-project-button {

  margin-top: 2rem;
  transition: all .2s ease-in-out;

  .view-project {
    margin-bottom: 0;
  }

  .project-arrow {
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding-left: 2rem;
  }
}

.view-project-button:hover {


  .project-arrow {
    transform: scale(1.3);
    padding-left: 3rem;
  }
}


.projects-tags-container{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project-tag {
  height: 2rem;
  border-radius: 25px;
  background-color: #FFFFFF19;
  color: $white;
  display: block;
  font-family: pt-mono ,monospace;
  font-weight: 700;
  font-style: normal;
  font-size: .9rem;
  letter-spacing: .3rem;
  margin-bottom: 0;
  outline: none;
  border: none;
  margin-top: 1rem;
  transition: none !important;
  cursor: default !important;

  @include lg {
    margin: auto 1rem;
  }
}

.project-tag:hover {
  background-color: #FFFFFF19 !important;
  text-decoration: none;
}

.project-tag-hooks, .project-tag-rest {
  font-size: .6rem;
  padding-left: .5rem;
  padding-right: .5rem;
  letter-spacing: .2rem;
}

.project-tag:first-of-type {
  margin-left: 0;
}

.project-tag:active {
  color: $white;
  background-color: #FFFFFF19 !important;
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important
}

.project-tag:focus {
  color: $white;
  background-color: #FFFFFF19 !important;
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important
}

.concert-builder-image, .orches-nation-image, .mars-rover-image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  @include lg {
    width: 75%;
    margin: 0 auto;
    margin-left: 6rem;
  }
}

.view-all-projects-container {
  position: relative;

  .can-image {
    position: absolute;
    bottom: 0;
    top: 0;
    left: -10%;
    max-width: 100%;

    @include lg {
      left: -25%;
      top: -75%;
    }
  }

}

.can-spacer {

  height: 250px; 

  @include lg {
    height: 10px;
  }
}

// Get in Touch
.get-in-touch-container {

  @include lg {
    margin: auto;
    margin-top: 4rem;
    width: 50%;
    
  }

    p {
      text-align: center;
      line-height: 2.3rem;
    }

    p:first-of-type {
      margin-bottom: 2rem;
    }

    .view-project {
      margin-top: 3rem;
      font-size: 1.7rem;
      letter-spacing: .4rem;
      cursor: pointer;
      margin-bottom: 6rem;

      span {
        display: inline-block;
      }

    

    
    }
}

// Project Detail Pages

.inner {

  flex-direction: column;

  @include lg {
    flex-direction: row;
  }
  .text-container {

    p {
      margin-bottom: 2rem;
    }

    @include lg {
      width: 50%;
      margin-right: 2rem;
    }
  }

  .button-container {

    width: 100%;
    align-items: center;
    
    @include lg {
      width: 50%;
      align-items: end;
    }
  }
}

.line-through-work.bottom-projects-line {
  right: 20%;
}

.line-through-work.get-in-touch-line {
  right: 2%;
  left: 0;
}

.get-in-touch-text {
  width: 100%;
}



// Footer

.footer-container {
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: $black;
  overflow: hidden;

  @include lg {
    margin: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
  }

  .footer-content-container {

    width: 80%;
    flex-direction: column;

    @include lg {
      flex-direction: row;
    }
  }

  .follow-container {
    margin-bottom: 4rem;

    @include lg {
      width: 30%;
    }
  }

  .social-icons {
    margin: auto;
    margin-bottom: 6rem;
   
    
    @include lg {
      width: 30%;
    }
  }

}

.copyright-container {

  width: 80%;

  p {
    font-size: .6rem;
  }
}






.button-container {
  a {
    text-decoration: none;
    width: 100%;
    font-family: 'inter', sans-serif;

    button {
      font-family: 'inter', sans-serif;
      width: 100%;
      height: 3rem;
      outline: 0;
      border: none;
      margin: 1rem auto;
      font-weight: 800;
      margin-top: 0;
    }


  }
}

.visit-site-button,
.visit-site-button:hover,
.visit-site-button:active {
  background-color: #cb8423 !important;
  text-transform: none !important;
}

.visit-code-button,
.visit-code-button:hover,
.visit-code-button:active {
  background-color: #0b9d96 !important;
  text-transform: none !important;
}


.project-page-project-title {
  margin-bottom: 2rem;
}

.project-image-main, .project-image-bottom, .mars-rover-photo {
  width: 100%;
  margin: 3rem auto;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    left: -100%;
   
  }



  100% {
    opacity: 1;
    left: 0;
    
  }
}

@keyframes outAnimation{
  0% {
    opacity: 1;
    left: 0;
    
  }


  100% {
    opacity: 0;
    left: -100%;
  }
}

@keyframes projectsExpand {
  0% {
    opacity: 0;
    // height: 0px;
  }

  100% {
    opacity: 1;
    // height: 250px;
  }
}

@keyframes projectsCollapse {
  0% {
    opacity: 1;
    // height: 250px;
  }

  100% {
    opacity: 0;
  //   height: 0px;
  }
}

// Bubbles
#bubbles {
  position: absolute;
  top: 15%;
  bottom: 35%;
  left: 0;
  right: 50%;
  // background-color:rgba(7,111,56, 0.7)

  @include lg {
    height: 30rem;
    left: -20%;
    
  }
}

.bubble {
  // width: 20px;
  // height: 20px;
  // background: #fff;
  // border-radius: 50px;
  position: absolute;
  bottom: 0;
  z-index: 9999
}

.x1 {
 
  transform: scale(0.9);
  opacity: 0.2;
  animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
 
}

.x2 {
  left: 20px;
 
  transform: scale(0.6);
  opacity: 0.5;
  animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
 
}
.x3 {
  left: 35px;
 
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
 
}
.x4 {
  left: 47px;
  
  transform: scale(0.75);
  opacity: 0.35;
  animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
  left: 15px;
 
  transform: scale(0.8);
  opacity: 0.3; 
  animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  
}

@keyframes moveclouds { 
  0% { 
      top: 50px;
  }
  100% { 
      top: -100px;
  }
}

@keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

// .mobile-nav-container.true {
//   .nav-content-wrapper {
//     .header-nav-overlay {
//       .mobile-nav-title-container {
//         display: block;
//       }
//     }
//   }
  
// }